<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="profile">
      <ion-icon name="bed-outline"></ion-icon>
      <ion-label>Sleep</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="feed">
      <ion-icon name="analytics-outline"></ion-icon>
      <ion-label>Analysis</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="settings">
      <ion-icon name="settings-outline"></ion-icon>
      <ion-label>Settings</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
