.site-nav{
    color: #cacaca;
  }
  .site-nav.active{
    color:white;
    text-decoration: underline;
  }
  .site-nav:hover{
    text-decoration: underline;
    cursor:pointer;
  }
  tr > td{
    text-align: center;
  }
  .table .thead-dark th{
    border: none !important;
  }