.bubbles-content-container{
    width: 100%; height:100%; display: flex; flex-direction: column; align-items: center; justify-content: center;
}
#bubbles-chart{
    width:100%; flex:1
}

// .risk-progress {
//     ion-progress-bar {
//        --background: #989aa2;
//        --buffer-background: #eb445a;
//        --progress-background: #eb445a;
//      }
//    }